node_modules
**/node_modules
**/dist
**/__pycache__
**/*.pyc

.git
.gitignore
.replit
replit.nix
.config
.local
.cache
.upm
.pythonlibs
.vscode
.cursor

deploy/ssl
.env
.env.*

*.pdf
*.pptx

apps/Computation-Engine/test_models
apps/Computation-Engine/pytest.ini
