onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=bufferutil
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=onnxruntime-node
onlyBuiltDependencies[]=sharp
node-linker=hoisted
shamefully-hoist=true
